@font-face
{
  font-family: 'FredokaOne';
  src: url('polices/FredokaOne/FredokaOne-Regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'UbuntuRegular';
  src: url('polices/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'UbuntuMedium';
  src: url('polices/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

:root
{
  --yellow: #faae02;
}

/* La propriété border box nous permettra d'ajouter du padding et des bordures à nos éléments sans incrémenter leur taille */
html
{
    box-sizing: border-box;
}

/* On fait hériter le border-box de notre sélecteur html à l'ensemble des autres sélecteurs */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body
{
    margin: 0;
   background-color: cyan;
}

h1, h2, h3, p, ul
{
    margin: 0;
    padding: 0;
}