/* ----------------------------MISE EN FORME DU HEADER---------------------------- */
.svg_stock
{
    display: none;
}

.header_top
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100.5px;
    background-color: white;
    z-index: 2;
}

.header_top nav
{
    position: absolute;
    width: 100%;
    top: 0px;
}

#header_logo
{
    width: 147px;
    height: 44px;
}

.header_top .header_features
{
    display: flex;
    justify-content: space-around;
}

.header_features .icon_features
{
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.header_features .icon_features:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

.userIcon1
{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.userIcon1:hover
{
    transform: scale(1.1);
}

.header_features .userIcon2
{
    display: none;
}

.header_features .heartIcon
{
    margin: 0px 15px;
}

.header_top img
{
    width: 30px;
    height: 30px;
}

.header_top .search_bar2
{
    display: none;
}

.header_banner
{
    margin-top: 100.5px;
    height: 486px;
}

.header_banner img
{
    max-width: 100%;
    object-fit: cover;
    height: 486px;
}

.header_top ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header_top li a 
{
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;

    font-family: 'UbuntuRegular', sans-serif;
    color: var(--grey);
    font-size: 25px;
}

.header_top .menu-icon 
{
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    user-select: none;
}

.header_top li a:hover,
.header_top .menu-btn:hover 
{
    background-color: #f4f4f4;
    color: var(--yellow);
}

.header_top nav .menu 
{
    position: absolute;
    width: 100%;
    top: 100.5px;
    height: 0px;
    left: 0px;
    transition: height .2s ease-out;
}

.header_top .menu-icon 
{
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.navicon 
{
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 22px;
}

.navicon:before
{
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;   

    top: 7px;
}

.navicon:after 
{
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;

    top: -7px;
}

.menu-btn 
{
    display: none;
}

#menu-btn:checked ~ nav .menu
{
    height: 100vh;
}

.menu-btn:checked ~ .menu-icon .navicon
{
    background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:after 
{
    transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:before 
{
    transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:before,
.menu-btn:checked ~ .menu-icon .navicon:after 
{
    top: 0px;
}




/* ----------------------------MISE EN FORME DU MAIN---------------------------- */

.main_container h2
{
    font-family: 'FredokaOne', sans-serif ;
    color: black;
    text-transform: uppercase;
}

p
{
    font-family: 'UbuntuRegular', sans-serif ;
    line-height: 24px;
}



/* ----------------------------MISE EN FORME DES SECTIONS PRINCIPALES---------------------------- */

.wellBeing_container
{
    margin: 55px 0px;
}


/* --------MISE EN FORME CATEGORIES-------- */

#categories
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 198.5px;
    margin-top: 55px;
    /* background-color: green; */
}

.categories_slider
{
    overflow: hidden;
}

.container_categories
{
    position: relative;
    width: 100vw;
    margin-top: 45px;
}

.arrow1
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.prev1 
{
    display: none;
    left: 25px;
    z-index: 1;
}

.next1
{
    right: 25px;
    z-index: 1;
}

.slides_categories
{
    display: flex;
    transition: 0.3s;
}

.category
{
    position: relative;
    transition: 0.5s;
}

.category img
{
    position: absolute;
    height: 116px;
    left: 50%;
    bottom: 12%;
    transform: translateX(-50%);
    z-index: 1;
}

#category_cat img, #category_rodent img, 
#category_aquario img, #category_reptile img, 
#category_bird img 
{
    bottom: 0%;
}

#category_pool img
{
    height: 90px;
}

.categories_background
{
    width: 100vw;
    height: 107px;
}


/* --------MISE EN FORME MOMENTPRODUCT-------- */

#momentProduct
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "title"
    "scrollingMenu"
    "product"
    "description";
    justify-items: center;

    /* background-color: purple; */
    font-family: 'UbuntuRegular', sans-serif;
    margin-top: 55px;
}

#momentProduct h2
{
    grid-area: title;
}

.momentProduct_scrollingMenu
{
    margin-top: 30px;
    grid-area: scrollingMenu;
}

.scrollingMenu_top
{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.scrollingMenu_top h3
{
    font-family: 'FredokaOne', sans-serif;
    color: var(--yellow);
    padding: 0px 7px;
}

.dog_paw, #arrow_paw
{
    width: 20px;
    height: 20px;
}

.scrolling
{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: white;
    width: 98%;
    border-radius: 8px;
    border: solid 2px var(--yellow);
}

.underScrolling
{
    list-style: none;
    font-family: 'FredokaOne', sans-serif;
    padding-left: 15px;  
}

.underScrolling button
{
    color: black;
    border: none;
    background-color: transparent;
    font-family: 'FredokaOne', sans-serif;
    transition: 0.3s;
    padding: 15px 0px;
    font-size: 20px;
}

.underScrolling button:hover
{
    color: var(--yellow);
    cursor: pointer;
}

.momentProduct_product
{
    grid-area: product;
}

.momentProduct_product
{
    margin-top: 30px;
    text-align: center;
}

.productImage
{
    position: relative;
}

.productImage img
{
    position: absolute;
    top: 37px;
    left: 50px;
}


.momentProduct_product :nth-child(2n)
{
    font-family: 'FredokaOne', sans-serif;
}

.momentProduct_product :nth-child(3n)
{
    text-transform: uppercase;
    margin-top: 6px;
}

.momentProduct_description
{
    grid-area: decription;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.momentProduct_description p
{
    margin-bottom: 30px;
}

.momentProduct_description a
{
    display: flex;
    width: 246px;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-family: 'FredokaOne', sans-serif;
    padding: 30px 0px;
    border-radius: 8px;
   
    background-color: var(--yellow);
    transition: 0.3s;
}

.momentProduct_description a:hover
{
    transform: scale(1.1);
}

.momentProduct_description img
{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}


.momentProduct_description
{
    grid-area: description;
}



/* --------MISE EN FORME WELLBEING-------- */

#wellBeing
{
    position: relative;
}

.wellBeing_banner
{
    background-color: var(--grey);

}

.wellBeingBanner_text
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wellBeing_banner h2, .wellBeing_banner p
{
    color: white;
    text-align: center;
    padding-top: 20px;
    width: 245px;
}

.wellBeing_banner h2
{
    font-size: 25px;
    text-transform: uppercase;
}

.wellBeing_banner p
{
    font-size: 16px;
    width: 98%;
}

.wellBeingBanner_image
{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.wellBeing_veterinary
{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "title"
    "photo"
    "description"
    "button";
    justify-items: center;
    row-gap: 20px;

    text-align: center;
}

.wellBeing_veterinary h2
{
    grid-area: title;
     text-transform: uppercase;
     font-size: 20px;
     margin-top: 30px;
}

.wellBeing_veterinary img
{
    grid-area: photo;
}

.wellBeing_veterinary p
{
    grid-area: description;
}

.wellBeing_veterinary a
{
    grid-area: button;
    display: flex;
    width: 274px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'FredokaOne', sans-serif;
    padding: 10px 0px;
    border-radius: 8px;
   
    background-color: var(--yellow);
    transition: 0.3s;
}

.wellBeing_veterinary a:hover
{
    transform: scale(1.1);
}

.wellBeing_veterinary a img
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.wellBeing_veterinary p, .wellBeing_community p
{
    width: 98%;
}

.veterinary_aside
{
    grid-area: aside;
    position: relative;
    display: none;
}

.veterinary_aside img
{
    position: absolute;
    bottom: 10px;
}

.wellBeing_community
{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "title"
    "description"
    "button";
    justify-items: center;
    row-gap: 20px;

    text-align: center;
}

.community_aside
{
    grid-area: aside;
    position: relative;
    display: none;
}

.community_aside img
{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.wellBeing_community h2
{
    grid-area: title;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
}

.wellBeing_community p
{
    grid-area: description;
}

.wellBeing_community a
{
    grid-area: button;
    display: flex;
    width: 274px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'FredokaOne', sans-serif;
    padding: 10px 0px;
    border-radius: 8px;
   
    background-color: var(--yellow);
    transition: 0.3s;
}

.wellBeing_community a:hover
{
    transform: scale(1.1);
}

.wellBeing_community a img
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}


/* --------MISE EN FORME WHOWEARE-------- */

.whoWeAre_banner
{
    background-color: var(--grey);
}

.whoWeAreBanner_text
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whoWeAreBanner_text a
{
    display: flex;
    width: 274px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'FredokaOne', sans-serif;
    padding: 20px 0px;
    border-radius: 8px;
    margin-top: 20px;
   
    background-color: var(--yellow);
    transition: 0.3s;
}

.whoWeAreBanner_text a:hover
{
    transform: scale(1.1);
}

.whoWeAreBanner_text a img
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.whoWeAre_banner h2, .whoWeAre_banner p
{
    color: white;
    text-align: center;
    padding-top: 20px;
    width: 98%;
}

.whoWeAre_banner h2
{
    font-size: 25px;
    text-transform: uppercase;
}

.whoWeAre_banner p
{
    font-size: 16px;
}

.whoWeAreBanner_image
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.arrow
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.perso
{
    text-align: center;
    width: 100vw;
}

.identity
{
    font-family: 'UbuntuMedium', sans-serif;
    color: var(--grey);
    margin-top: 15px;
}

.profession
{
    font-family: 'UbuntuRegular', sans-serif;
    color: var(--grey);
}

.whoWeAre_commitments
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.whoWeAre_commitments h3
{
    grid-area: title;
}

.commitments_aside
{
    grid-area: aside;
    position: relative;
    display: none;
}

.commitments_aside img
{
    position: absolute;
    right: 50%;
    bottom: 30px;
    transform: translateX(50%);
}

.commitments_content
{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: repeat(3,auto);
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    margin-top: 20px;
    width: 92%;
    border-radius: 8px;
    background-color: var(--grey);
    max-width: 345px;
}

.icon-meditation, .icon-suggestion
{
    margin-top: 20px;
}


.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.content p
{
    font-family: 'UbuntuMedium', sans-serif;
    margin-top: 10px;
}

.content_vip
{
    grid-column: span 2;
    margin-bottom: 20px;
}

.whoWeAre_trust
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.trust_content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--grey);
    max-width: 345px;
}

.trust_aside
{
    grid-area: aside;
    position: relative;
    display: none;
}

.trust_aside img
{
    position: absolute;
    right: 44%;
    bottom: -1px;
    transform: translateX(50%);
}

.trust_content p
{
    margin: 30px 0px;
    color: white;
    font-family: 'UbuntuMedium', sans-serif;
}

.icon-rating
{
    height: 28px;
    margin-top: 45px;
}

.trust_content a
{
    display: flex;
    width: 274px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'FredokaOne', sans-serif;
    padding: 10px 0px;
    border-radius: 8px;
    margin-bottom: 45px;
   
    background-color: var(--yellow);
    transition: 0.3s;
}

.trust_content a:hover
{
    transform: scale(1.1);
}

.trust_content a img
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

/* --------GESTION DU SLIDER-------- */

.container
{
    width: 100vw;
    margin: auto;
    position: relative;
    margin-top: 30px;
}

.whoWeAre_people
{
    /* background-color: cyan; */
    overflow: hidden;
    position: relative;
}

.slides
{
    display: flex;
    transition: 0.3s;
}

.arrow 
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev 
{
    display: none;
    left: 25px;
    z-index: 1;
}

.next 
{
    right: 25px;
    z-index: 1;
}


/* --------MISE EN FORME PAYMENTSMETHODS-------- */

.paymentMethods
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0px 10px;
}

.paymentMethods img
{
    margin: 0px 20px 10px 20px;
}


.masterCard
{
    width: 36px;
    height: 36px;
}

.americanExpress
{
    width: 46px;
    height: 37px;
}

.pickup
{
    align-self: center;
}






/* ----------------------------MISE EN FORME FOOTER---------------------------- */

footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    padding-top: 10px;
}

footer p 
{
    margin: 10px 0px 30px 0px;
    color: white;
}

.footer_logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer_socialMedia
{
    display: grid;
    grid-template-columns: repeat(4, 40px);
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 30px;
}

.iconFooter
{
    width: 40px;
    height: 40px;
}

.footer_principalNav 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_principalNav h3 
{
    margin-bottom: 15px;
    margin: 0px 15px 15px 15px;
    text-transform: uppercase;
}

.footer_principalNav h3 a
{
    text-decoration: none;
    font-family: 'FredokaOne', sans-serif;
    color: var(--yellow);
}

.footer_principalNav h3 a:hover
{
    text-decoration: underline;
}

.footer_principalNav li
{
    display: none;
    list-style: none;
    color: white;
    font-family: 'UbuntuRegular', sans-serif;
    font-size: 14px;
    padding-bottom: 15px;
}

.footer_secondaryNav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.footer_secondaryNav li
{
    list-style: none;
    color: white;
    padding: 0px 1px;
}

.footer_secondaryNav a
{
    text-decoration: none;
    color: white;
    font-family: 'UbuntuRegular', sans-serif;
    font-size: 12px;
}

.footer_secondaryNav a:hover
{
    color: var(--yellow);
    text-decoration: underline;
}



/* ----------------------------GESTION MEDIA QUERIES---------------------------- */


@media (min-width: 450px)
{
    .userIcon1
    {
        display: none;
    }

    .header_features .userIcon2
    {
        display: block;
    }
    
}

@media (min-width: 728px)
{
    .header_banner
    {
        overflow: hidden;
    }

    .header_banner img
    {
        height: auto;
    }
}

@media (min-width: 768px)
{

    .wellBeing_container
    {
        display: grid;
        
    }

    .wellBeing_veterinary
    {
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 
        "photo title"
        "photo description"
        "photo button";
        justify-items: center;
        align-items: center;
        column-gap: 30px;

        margin-top: 30px;
        margin-left: 8.5%;
        width: 580px;
    }

    .wellBeing_veterinary h2
    {
        margin-top: 0px;
    }

    .wellBeing_community
    {
        justify-self: flex-end;
        margin-right: 8.5%;
        width: 580px;
    }

    .whoWeAreBanner_text
    {
        margin: 0% 4.25%;
    }

    .commitments_content
    {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: initial;
        justify-items: center;
        align-items: center;
        row-gap: 0px;
        background-color: var(--grey);
        max-width: 701px;
        height: 278px;;
    }

    .content_vip 
    {
        grid-column: span 1;
        margin-bottom: 0px;
    }

    .content_meditation, .content_suggestion
    {
        padding-bottom: 5px;
    }

    .whoWeAre_trust
    {
        margin-top: 50px;
    }

    .trust_content
    {
        max-width: 701px;
    }

    footer 
    {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
        height: 368px;
    }

    .footer_logo
    {
        align-self: flex-end;
    }

    .footer_socialMedia
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: flex-start;
    }

    .footer_principalNav
    {
        grid-column: 2 / 4;
        grid-row: 1 / 3;

        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: flex-start;
    }

    .footer_principalNav li
    {
        display: block;
    }

    .princpalNav_account
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .princpalNav_us
    {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .princpalNav_international
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_secondaryNav
    {
        grid-column: 1 / -1;
        grid-row: 3 / 4 ;
    }

}

@media (min-width: 1024px)
{

    .header_top
    {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
    }

    #header_logo
    {
        position: initial;
        grid-column: 3 / 4;
        width: 252px;
        height: 75px;
    }

    .header_top .menu-icon
    {
        display: none;
    }

    .header_top nav
    {
        grid-column: 1 / 3;
        position: initial;
    }

    .header_top nav .menu 
    {
        position: initial;
        width: initial;
        top: initial;
        height: initial;

        display: flex;
        justify-content: space-evenly;
    }

    .header_top nav .search_bar
    {
        display: none;
    }

    .header_top .search_bar2
    {
        display: flex;
        width: 100%;
        max-width: 312px;
        grid-column: 4 / 5;
        margin-left: 50px;
    }

    .header_top .header_features
    {
        display: flex;
        grid-column: 5 / 6;
    }

    .header_top li a 
    {
        display: inline;
        border-right: initial;
        text-decoration: none;
        padding: 20px 10px;
        font-size: 20px;
    }

    .header_top li a:hover
    {
        background-color: initial;
    }

    #categories
    {
        height: auto;
    }

    .categories_slider
    {
        overflow: visible;
    }

    .slides_categories
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 40px;
        justify-content: center;
    }

    .categories_background
    {
        width: 100%;
    }

    .category:hover
    {
        transform: scale(1.2);
        cursor: pointer;
    }

    #momentProduct
    {
        grid-template-areas:
        "title title title"
        "scrollingMenu product description" 
        ;
        grid-template-columns: repeat(3, 1fr);
    }

    .scrollingMenu_top
    {
        display: none;
        margin: 0;
    }

    .scrolling
    {
        position: initial;
        left: 0%;
        transform: translateX(0%);
        background-color: initial;
        width: 100%;
        border: none;
    }

    .scrolling button
   {
       color: #707070;
   }

   .underScrolling1 button 
   {
       color: var(--yellow);
   }

    .momentProduct_product p
    {
        text-align: left;
        position: relative;
        bottom: 1px;
    }

    .productImage img
    {
        height: 300px;
        top: 54px;
        left: 38px;
    }

    .productImage svg
    {
        height: 380px;
        width: 355px;
    }

    .momentProduct_description
    {
        width: 246px;
        align-self: center;
    }

    /* --------MISE EN FORME WELLBEING-------- */

    .wellBeing_banner
    {
        display: grid;
        grid-template-columns: 57% 1fr;
        align-items: center;
        height: 438px;
    }

    .wellBeingBanner_text
    {
        align-items: flex-start;
        text-align: left;
    }

    .wellBeingBanner_image
    {
        align-self: flex-end;
        text-align: left;
    }

    .wellBeing_banner h2, .wellBeing_banner p
    {
        text-align: left;
        max-width: 824px;
        width: initial;
        margin-left: 8.5%;
    }

    .wellBeing_veterinary
    {
        grid-template-columns: auto 336px auto;
        grid-template-areas: 
        "photo title aside"
        "photo description aside"
        "photo button aside";
    }

        .veterinary_aside
    {
        display: flex;
        transition: 1s;
    }

    .wellBeing_community
    {
        grid-template-columns: auto 580px;
        grid-template-areas: 
        "aside title"
        "aside description"
        "aside button";
        column-gap: 30px;
        align-items: center;
        justify-self: flex-end;
        width: auto;
    }

    .community_aside
    {
        display: flex;
        transition: 1s;
    }

    /* --------MISE EN FORME WHOWEARE-------- */

    .whoWeAre_banner
    {
        display: grid;
        grid-template-columns: 57% 1fr;
    }

    .whoWeAreBanner_text
    {
        align-items: flex-start;
        text-align: left;
        margin: 60px 0px;
    }

    .whoWeAre_banner h2, .whoWeAre_banner p
    {
        text-align: left;
        max-width: 824px;
        width: initial;
        margin-left: 8.5%;
    }

    .whoWeAreBanner_text a
    {
        margin-left: 8.5%;
    }

    .perso
    {
        text-align: center;
        width: 25vw;
    }

    .whoWeAre_commitments
    {
        display: grid;
        grid-template-columns: auto 701px;
        grid-template-areas: 
        "aside title"
        "aside content";
        margin-top: 30px;
        justify-items: center;
        align-items: center;
        justify-content: space-around;
        width: auto;
    }

    .commitments_content
    {
        width: 100%;
    }

    .commitments_aside
    {
        display: flex;
        transition: 1s;
        top: 25px;
    }

    .whoWeAre_trust
    {
        display: grid;
        grid-template-columns: 701px auto;
        grid-template-areas: 
        "title aside"
        "content aside";
        margin-top: 30px;
        justify-items: center;
        align-items: center;
        justify-content: space-around;
        width: auto;
    }

    .trust_content
    {
        width: 100%;
    }

    .trust_aside
    {
        display: flex;
        transition: 1s;
        top: 25px;
    }
    
    .footer_principalNav
    {
        text-align: left;
    }

    .footer_principalNav a
    {
        text-decoration: none;
        color: white;
        font-family: 'UbuntuRegular', sans-serif;
        font-size: 14px;
    }

    .footer_principalNav a:hover
    {
        color: var(--yellow);
    }
    
    .princpalNav_account, .princpalNav_us
    {
        align-items: flex-start;
    }

    .princpalNav_account h3, .princpalNav_us h3
    {
        margin-bottom: 15px;
        margin: 0px 15px 15px 0px;
        text-transform: uppercase;
    }
    
    .international_links
    {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 20px;;
    }
    
    
}


@media (min-width: 1110px)
{
    .veterinary_aside
    {
        margin-left: 122px;
        transition: 1s;
    }

    .community_aside
    {
        margin-right: 122px;
        transition: 1s;
    }
}
  
.search 
{
    position: relative;
    width: 100%;
    display: flex;
}

.searchTerm 
{
    width: 100%;
    border: 3px solid var(--yellow);
    padding: 5px;
    height: 36px;
    border-radius: 8px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus
{
    color: var(--grey);
}

.searchButton 
{
    position: absolute;
    top: 5.5px;
    right: 0;
    color: black;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.icon-search
{
    width: 25px;
    height: 25px;
}

/*Resize the wrap to see the search bar change!*/
.search_bar
{
    width: 80%;
    padding-left: 20px;
}